    li{
        list-style: none;
    }
    .img_fluid {
        max-width: 200px;
        display: none;
        transition: 0.3s ease;
    }

    button {
        margin: 10px;
        padding: 8px 16px;
    }