* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: #0000ff !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-size: 17px;
}

p {
    color: #8d8d8d;
    line-height: 1.4;
}

.overly a:hover {
    background-color: #0000ff !important;
    color: white !important;
}

.nav-link:hover,
.nav-link.active {
    color: black;
    font-weight: 600;
}

.active_world::after,
.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease;
}

.active_world:hover::after,
.active.active::after {
    width: 100%;
}

.active_world:hover::after {
    left: 1.9%;
}

.arrow-btn {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.arrow-btn:hover {
    color: white !important;
    background-color: blue;
    border-color: blue;
}

.arrow-btn:hover i {
    transform: scale(1.2);
}

.arrow-btn i {
    transition: transform 0.3s ease;
}

.part_right {
    border-color: #8d8d8d;
}

.link_side_icons {
    border-color: #8d9bbb;
    width: 50px;
    height: 50px;
}

.link_side_icons .fab{
    display: inline-block;
}