/* Reset Style */
/* * {
    border: 0.1px solid;
} */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    color: #86878b;
}

/* Global Style */
.container {
    width: 80%;
    margin: 0% auto;
}

.d_inline_block {
    display: inline-block;
}

.d_block {
    display: block;
}

.text_white {
    color: white;
}

.clear {
    clear: both;
}

/* Custom Style */
#nav_parint {
    width: 100%;
    position: fixed;
    z-index: 99999999999;
    background-color: black;
}

.overly_nav .container {
    height: 100%;
}

.logo {
    height: 100%;
    float: left;
    width: 7%;
}

.logo img {
    margin: 14% 0;
    width: 100%;
    cursor: pointer;
}

#nav_parint ul {
    margin-left: 20%;
    margin-top: 2%;
    width: 26%;
    float: right;
}

#nav_parint ul li {
    padding-right: 7%;
}

.none_ma {
    padding-right: 0 !important;
}

li.nav_list_links {
    float: left;
}

#nav_parint ul li a {
    color: white;
    font-size: 15px;
}

.bg_img {
    background: url(../image/bg1.jpg) center center / cover no-repeat;
    width: 100%;
}

.bg_img .overly {
    height: 100%;
}

.bg_img .container {
    padding: 10% 0;
}

.bg_img .overly {
    background-color: #0000007a;
    width: 100%;
}

.banner_aside {
    width: 35%;
    float: left;
    height: 100%;
    padding: 1% 0;
}

.bg_img h1,
.bg_img p {
    color: white;
}

h1.adrees_class {
    font-size: 100px;
}

.text_section_banner {
    font-size: 30px;
}

h1.adrees_class span {
    color: #FF9B51;
}

.p_class {
    margin-bottom: 6%;
    color: #fffc;
    font-size: 17px;
}

.banner_aside hr {
    width: 15%;
    margin: 5% 0;
    border: solid white 1px;
}

.banner_aside a {
    background-color: transparent;
    border: solid 1px white;
    padding: 2% 5%;
    color: white;
    transition: 0.5s;
}

.banner_aside a:hover {
    background-color: white;
    color: black;
}

.form_style {
    width: 28%;
    float: right;
    height: 100%;
    padding: 1% 0;
    text-align: center;
}

.form_style .bg_color {
    background: #f5f5f5;
    margin: 0;
    padding: 6%;
    font-size: 20px;
    color: black;
}

.form_style .bg_color span {
    color: #ff9b51;
}

form.form_banner {
    width: 100%;
    background-color: white;
}

form.form_banner input {
    margin: 6% 0;
    width: 90%;
    padding: 4%;
    margin-left: 2%;
    color: black;
    border: none;
    outline: none;
    font-size: 17px;
}

.submit_btn {
    background-color: #FF9B51;
    font-size: 25px !important;
    color: white;
    width: 100%;
    display: block;
    padding: 4% 0;
    cursor: pointer;
    transition: 0.5s;
}

.submit_btn:hover {
    background-color: #232323;
}

.social_media {
    width: 100%;
    box-shadow: 0px 20px 8px 4px wheat;
}

.aside_social_media {
    float: left;
    width: 40%;
}

.aside_social_media h1 {
    padding: 1% 0;
}

.icon_font {
    float: right;
    width: 40%;
}

.icon_font ul {
    padding: 2%;
    margin: 0;
    margin-left: 17%;
}

.icon_font ul li {
    float: left;
    width: 10%;
    text-align: right;
    padding-left: 4%;
}

.icon_font_aws {
    color: #b6e2d3;
    transition: 0.5s;
}

.icon_font_aws:hover {
    color: #ff8b38;
}

.icon_font_aws i {
    font-size: 35px;
}

.tabs_class {
    background-color: #F5F5F5;
    width: 100%;
}

.tabs_boxs {
    float: left;
    width: 20%;
    padding: 15% 0;
}

.tab_contents {
    float: left;
    width: 45%;
    padding: 12.5% 0;
}

.image_container {
    float: right;
    width: 25%;
    padding: 10% 0;
}

.bg_tabs {
    margin: 0 45% 0 20%;
    font-size: 18px;
    border-bottom: 0.5px white solid;
    background-color: #333333;
    height: 90px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.bg_tabs:hover {
    background-color: #FF8B38;
}

.bg_tabs.bg_spicial {
    background-color: #FF8B38 !important;
}

.bg_tabs.bg_spicial p {
    color: black !important;
}

.bg_tabs p {
    padding: 13% 0;
    margin: 0;
    color: white;
}

.tab_content p {
    color: #9E9FA2;
    margin-top: 4%;
    margin-bottom: 10%;
}

.tab_content .p_b_class {
    margin-bottom: 15% !important;
}

.download_btn {
    background-color: #FF8B38;
    border: solid white 0.5px;
    color: white;
    padding: 5%;
    padding: 4%;
    border-radius: 13px;
    cursor: pointer;
    transition: 0.5s;
}

.download_btn:hover {
    background-color: #232323;
}

.image_container img {
    width: 100%;
}

.image_container .reflection {
    transform: scaleY(-1);
    opacity: 0.9;
    margin-top: -10px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #00000021);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #00000021);
}

.sub_list_class {
    width: 100%;
    background-color: #f5f5f5;
}

.sub_img_box {
    width: 45%;
    float: left;
    padding: 10% 0;
}

.sub_list_text {
    width: 50%;
    float: right;
    padding: 10% 0;
}

.sub_list_text2 {
    width: 45%;
    float: left;
    padding: 10% 0;
}

.sub_img_box2 {
    width: 50%;
    float: right;
    padding: 10% 0;
}

.sub_img_box img,
.sub_img_box2 img {
    width: 100%;
    box-shadow: 0 0 6px 7px #d7c1c1;
}

.part_top hr {
    width: 14%;
    margin: 0;
    border: 2px solid #ff8b38;
}

.overly_sub_list p {
    color: #9E9FA2;
}

.part_top p {
    margin: 5% 0;
}

.link_icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
}

.link_icon i {
    color: #ff8b38;
    border: 1px solid #ff8b38;
    border-radius: 50%;
    padding: 1%;
    width: 36px;
    height: 36px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.text_class_sub {
    display: inline-block;
    width: 85%;
    margin-left: 5%;
}

.awesome_class,
.overly_is_class {
    width: 100%;
}

.overly_is_class {
    padding: 7% 0;
}

.text_adrees {
    text-align: center;
}

h1.address {
    padding: 2% 0;
}

p.speech {
    padding: 2% 0;
    color: #9E9FA2;
}

.text_adrees hr {
    width: 5%;
    border: 2px solid #ff8b38;
}

.cards_awesome {
    padding: 2% 0;
}

.card_awes {
    float: left;
    width: 30%;
    text-align: center;
}

.margin_spicial {
    margin: 0 5%;
}

.card_awes p {
    margin-top: 3%;
}

.card_awes i {
    width: 70px;
    height: 70px;
    margin-bottom: 2%;
    line-height: 70px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    text-align: center;
    font-size: 30px;
}

.pricing_class,
.overly_option {
    width: 100%;
}

.pricing_class {
    padding-bottom: 5%;
    background-color: #f5f5f5;
}

.card_price {
    float: left;
    width: 31%;
    margin: 0 1%;
}

.contan_price {
    text-align: center;
}

#topmar {
    margin-top: -5%;

}

h3.name_price {
    background: #333333;
    color: #fff;
    padding: 22px 0;
    border-bottom: 1px solid #fff;
    margin: 0;
}

h1.number_price {
    background: #333333;
    color: #fff;
    font-size: 92px;
    font-weight: 700;
    line-height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    /* padding: 0; */
}

span.price {
    font-size: 35px;
}

h4.level_price {
    background: #333333;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: italic;
    padding-bottom: 20px;
    border-bottom: 5px solid #ff8b38;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}

h5.price2 {
    background: #ff8b38;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
}

.contan_price p {
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0;
    text-transform: uppercase;
}

.customer_class,
.overly_are {
    width: 100%;
}

section.customer_class {
    padding: 0 0 3% 0;
}

.card_customer {
    position: relative;
    float: left;
    width: 29%;
    margin: 0 2%;
}

p.text_customer {
    background: #f5f5f5;
    padding: 15px;
    text-align: left;
    max-width: 282px;
    color: #86878b;
}

.triangle,
.triangle2,
.triangle3 {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #f5f5f5;
    border-width: 15px;
    margin-left: -15px;
    top: 43%;
}

.triangle {
    left: 10%;
}

.triangle2 {
    left: 10%;
}

.triangle3 {
    left: 10%;
}

.info_customer {
    margin-top: 9%;
}

img.img_cust {
    float: left;
    width: 20%;
}

.info_post {
    float: right;
    width: 75%;
    margin-left: 1%;
}

.bg_img_second {
    background: url(../image/bg1.jpg) center center / cover no-repeat;
    width: 100%;
}

.overly_design {
    background-color: #0000007a;
    width: 100%;
}

.info_design {
    text-align: center;
    padding: 5% 0;
}

h1.addres_info_design {
    color: white;
    margin-bottom: 2%;
}

.info_design hr {
    border: 1px solid white;
    width: 5%;
}

p.info_style {
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
}

a.button_style {
    padding: 1% 2%;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

a.button_style:hover {
    background-color: white;
    color: black;
}

.section_contact,
.overly_contact {
    width: 100%;
}

.section_contact {
    margin-bottom: 20px;
}

.part_one {
    float: left;
    width: 45%;
    margin-bottom: 2%;
}

.part_one input,
.part_one textarea {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d6d6d6;
    padding: 13px;
    color: #ada6a6;
    font-size: 18px;
}

.part_one input {
    display: block;
    width: 95%;
    margin-bottom: 3%;
    height: 25px;
}

form.contact_us {
    margin: 0 15%;
}

.form_contact_us {
    text-align: center;
}

.part_one textarea {
    width: 100%;
    height: 160px;
    margin-bottom: 20px;
    resize: none;
}

a.send_contact {
    width: 148px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #ff8b38;
    border-radius: 3px;
    font-size: 15px;
    display: block;
    margin: 20px auto 0;
    transition: 0.5s;
}

a.send_contact:hover {
    background-color: #232323;
}

.go_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff8b38;
    color: white;
    padding: 12px 18px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1000;
}

.go_to_top:hover {
    background-color: #232323;
    transform: translateY(-4px);
}

footer {
    background-color: black;
    padding: 1%;
}

.icons_footer {
    text-align: center;
}

.icons_footer ul li {
    padding: 0 1%;
}

.icons_footer .icon_font_aws{
    color: white !important;
}

.icons_footer .icon_font_aws i {
    font-size: 22px !important;
}

.text_footer {
    color: #b6e2d3;
    text-align: center;
    font-size: 18px;
    margin: 0 0 -16px 0;
    padding: 0;
}