* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar-toggler:focus{
    box-shadow: none;
    background-color: #a4aebc;
    border-color: #0c65ed;
}

.font_family {
    font-family: Arial, Helvetica, sans-serif;
}

.line_col {
    border: 1px solid white;
}

.email_cont {
    margin-right: 5%;
}

.call_cont {
    margin-left: 5%;
}

.hover_drop {
    position: relative;
}

.dropdown_hover {
    position: absolute;
    transform: translateX(-20px);
    min-width: 190px;
    width: auto;
    z-index: 3;
    transition: all 0.3s ease;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid #0c65ed;
    text-align: left;
}

.hover_drop:hover>.dropdown_hover {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.dropdown_hover .dropdown_hover {
    left: -130%;
    top: 15px;
}

.hover_menu {
    right: -90px;
    width: 800px;
    max-width: 800px;
    min-width: auto;
}

.hovering_items {
    float: left;
    width: 25%;
    padding: 15px 0;
    border-right: 1px solid #ebebeb;
}