    body {
        font-family: Arial, sans-serif !important;
        /* background-color: wheat !important; */
    }

    a {
        text-decoration: none !important;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
        background-color: yellow;
        color: black;
    }

    .btn {
        transition: 1s !important;
    }

    .btn:hover {
        color: #1818e0;
        background-color: #c1ff07 !important;
    }

    .hero {
        width: 100%;
    }

    .hero h1 {
        font-size: 60px;
        font-weight: bold;
    }

    .forms_controls {
        width: 60%;
    }

    .forms_controls .fa-search {
        left: 10px;
    }

    .colums .fa-search {
        left: 30px;
    }

    .forms_controls .fa-search,
    .colums .fa-search {
        top: 50%;
        transform: translateY(-50%);
        color: #999;
    }

    input.form-control {
        width: 100%;
        padding: 3% 1%;
        margin-left: 3%;
        border-radius: 0;
        font-size: 20px;
    }

    .form-control:focus {
        box-shadow: 0 0 4px 0rem rgb(255 193 7) !important;
        border-color: #ffc107 !important;
    }

    .overly {
        padding: 20% 0%;
        background: #96bece;
        margin-left: 23%;
    }

    .width_spicial {
        width: 65%;
        right: 54%;
        bottom: 15%;
    }

    .style_spicial {
        width: 20%;
        padding: 2% 0 !important;
        font-size: 20px !important;
    }

    .scroll-indicator {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        color: #adb5bd;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .transform {
        transform: rotate(180deg);
    }

    .spicial_abs {
        width: 40%;
        top: 88%;
        right: 1%;
    }

    .search-box {
        max-width: 400px;
        margin: 20px auto;
    }

    .highlight-box {
        background: yellow;
        padding: 10px 20px;
    }

    .box_sha {
        box-shadow: 0 0 6px 0 f5deb330;
    }

    .colums .btn:hover {
        border-color: white !important;
    }

    .step-card {
        position: relative;
        overflow: hidden;
        padding: 5rem 1.5rem 2rem 1.5rem;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
        height: 100%;
    }

    .step-card .number {
        position: absolute;
        top: -6rem;
        left: 0rem;
        font-size: 114px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 0;
    }

    .step-card .content {
        position: relative;
        z-index: 1;
    }

    .bg-yellow {
        background-color: #fdd835;
        color: #fff;
    }

    .bg-yellow .number {
        color: rgb(255, 255, 255);
    }

    .text_decro {
        border-bottom: 1px solid black;
        padding-bottom: 2%;
    }

    .box_shadow {
        box-shadow: 0 0 13px rgb(108 117 125 / 21%);
    }

    .blogs .bg-warning {
        top: 95%;
        left: 40%
    }